*{
margin: 0;
padding:0;
box-sizing: border-box;
}
    
html,
body {
width: 100%;
height: 100%;
}

body {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    
    overflow: hidden;
  
}

h1 span {
    display: inline-block;
}